body {
    background: url(Assets/IMG_4631.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color:#696969;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;

}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title {
   margin: 0;
   text-align: center; 
   align-items: center;
   word-break: break-all'
}

.password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 2px solid black;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 2rem;
}

.GenerateBtn {
    border-radius: .5rem;
    font-size: 20px;
}

.copyToClipboard {
    border-radius: .5rem;
    font-size: 20px;
}

label {
    font-size: 30px;
}