body {
    background: url(Assets/IMG_4631.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color:#696969;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
}